#fb-logo {
    margin-right: 1em;
}

i {
    vertical-align: text-bottom;
}

#telephone-number, #email {
    display: block;
}

#whatsapp-logo{
    margin: 1em 1.5em 0 0;
}

#email {
    margin-bottom: 1.5em; 
}

@media only screen and (max-width: 992px) {
    #email {
        margin-top: 1.5em; 
    }
}

a {
    vertical-align: baseline;
}