<footer class="page-footer blue-grey darken-4">
  <div class="container">
    <h5 class="white-text" id="contact-us">Contact Us</h5>
    <div class="row">
      <div class="col s12 l6">
        <a class="grey-text text-lighten-4 valign-wrapper" href="tel:305-8265-5106" id="telephone-number"><i class="material-icons" style="margin-right: 1em">local_phone</i>305-8265-5106</a>
        <a class="grey-text text-lighten-4" href="tel:305-9757-429"><img src="./../../assets/../assets/images/social-networks-logos/whatsapp-logo.svg" alt="" id="whatsapp-logo">305-9757-429</a>
      </div>
      <div class="col s12 l6 push-l2">
          <a class="grey-text text-lighten-4" href="mailto:amerikanbuilders@gmail.com" id="email"><i class="material-icons" style="margin-right: 1em">email</i>amerikanbuilders@gmail.com</a>
          <a class="grey-text text-lighten-4" target="_blank" href=" http://maps.google.com/?q=18530 NW 84th Ave. Miami, FL 33015" id="ubication"><i class="material-icons" style="margin-right: 1em">room</i>18530 NW 84th Ave. Miami, FL 33015</a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <app-footer-copyright></app-footer-copyright>
      <div class="right">
          <a href="" id="fb-logo"><img src="./../../assets/images/social-networks-logos/facebook-logo.svg" alt="Facebook logo"></a>
          <a href=""><img src="./../../assets/images/social-networks-logos/instagram-logo.svg" alt="instagram logo"></a>
      </div>
    </div>
  </div>
</footer>