<footer class="page-footer blue-grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 class="white-text">Contact Us</h5>
        <p class="grey-text text-lighten-4"><i class="material-icons" style="margin-right: 1em">local_phone</i>305-8265-5106</p>
        <p class="grey-text text-lighten-4"><img src="./../../assets/../assets/images/social-networks-logos/whatsapp-logo.svg" alt="" id="whatsapp-logo">305-9757-429</p>
        <p class="grey-text text-lighten-4"><i class="material-icons" style="margin-right: 1em">email</i>amerikanbuilders@gmail.com</p>
        <p class="grey-text text-lighten-4"><i class="material-icons" style="margin-right: 1em">room</i>18530 NW 84th Ave. Miami, FL 33015</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <app-footer-copyright></app-footer-copyright>
      <div class="right">
          <a href="" id="fb-logo"><img src="./../../assets/images/social-networks-logos/facebook-logo.svg" alt="Facebook logo"></a>
          <a href=""><img src="./../../assets/images/social-networks-logos/instagram-logo.svg" alt="instagram logo"></a>
      </div>
    </div>
  </div>
</footer>