<div class="slider">
    <ul class="slides">
      <li>
        <img src="./../../assets/images/poolEnclosure2.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>All Types of Constructions</h3>
          <h3>All Types of Roofings</h3>
          <h5 class="light grey-text text-lighten-3">"We Bing Bing Every Job"</h5>
        </div>
      </li>
      <li>
        <img src="./../../assets/images/creditCard.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Financing Available!</h3>
          <h5 class="light grey-text text-lighten-3">Up-Front Pricing</h5>
          <h5 class="light grey-text text-lighten-3">No Hidden Costs</h5>
        </div>
      </li>
      <li>
          <img src="./../../assets/images/flatRoof.jpg"> <!-- random image -->
          <div class="caption left-align">
            <h3>Our Services:</h3>
            <div class="row">
              <div class="col s6 push-s1">
                  <h5 class="light grey-text text-lighten-3 indent flow-text">-Impact Windows</h5>
                  <h5 class="light grey-text text-lighten-3 indent flow-text">-Roof Specialists</h5>
                  <h5 class="light grey-text text-lighten-3 indent flow-text">-Warehouse Construction</h5>
              </div>
              <div class="col s6 push-s1">
                  <h5 class="light grey-text text-lighten-3 indent flow-text">-New Additions</h5>
                  <h5 class="light grey-text text-lighten-3 indent flow-text">-New House Construction</h5>
                  <h5 class="light grey-text text-lighten-3 indent flow-text">-Tiles, Flat, Shingles and Metal</h5>
              </div>
            </div>
          </div>
        </li>
    </ul>
  </div>