<div id="about-us">
    <h2>About Us</h2>
    <div class="container center-align">
        <img src="./../../assets/images/user2.JPG" alt="" class="circle responsive-img" id="asd"> <!-- notice the "circle" class -->
        <p class="flow-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae, voluptates maiores. Aperiam eos ut doloremque, rem quae, molestiae ex maxime dolorum quam veniam, nihil fugiat tempore alias pariatur iusto? Ad.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem ipsum corrupti ullam molestiae? Obcaecati delectus tempora cupiditate vero, ab praesentium accusantium sit consectetur doloribus quisquam. Cupiditate quidem tempora perspiciatis aliquam.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti consequuntur distinctio quos laborum alias soluta facere officiis nisi quibusdam, ducimus, hic rerum itaque dignissimos recusandae amet! Eveniet nisi temporibus suscipit!
        </p>
    </div>
</div>