<div class="container">
  <h1>Finance With Ygrene</h1>
  <div class="row">
    <div class="col s12 l4 center">
      <a target="_blank" href="https://ygrene.com/"><img src="./../../assets/images/ygrene-logo.png" alt="ygrene-logo" class="ygrene-logo"></a>
    </div>
    <div class="col s12 l8 push-l1 embed-container">
      <iframe src="https://player.vimeo.com/video/184027168" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>Ygrene Video</iframe>
    </div>
  </div>
</div>