<header>
    <div class="navbar-fixed">
        <nav>
            <a class="brand-logo"><img src="./../../assets/images/logoT.png" alt="Amerikan Builders Logo" id="logo"></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#welcome">Welcome</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact-us">Contact Us</a></li>
            </ul>
        </nav>
    </div>
    <ul class="side-nav" id="mobile-demo">
        <li><a href="#welcome">Welcome</a></li>
        <li><a href="#services">Services</a></li> 
        <li><a href="#contact-us">Contact Us</a></li>
    </ul>
</header>
      