<nav>
  <div class="nav-wrapper bg__secondary indigo darken-1">
    <a class="brand-logo"><img src="./../../assets/images/logoT.png" alt="Amerikan Builders Logo" id="logo"></a>
    <a data-activates="mobile-hamburger" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#services">Services</a></li>
      <li><a href="#about-us">About Us</a></li>
    </ul>
    <ul class="side-nav" id="mobile-hamburger">
      <li><a href="#services">Services</a></li>
      <li><a href="#about-us">About Us</a></li>
    </ul>
  </div>
</nav>