<div id="welcome">
    <div class="container">
        <img src="./../../assets/images/logo.jpg" alt="Amerikan Builders Inc Logo" id="logo" class="center">
        <p class="flow-text">At Amerikan Builders we believe that being a builder first makes all the difference.
        It's who are, and how we work.</p>
        <p class="flow-text">Our passion for this perspective is so strong that it guides everything we do.
        We are here to champion respect for our trade, the art of craftsmanship,
        and the advantage of self-reliance.</p>
        <p class="flow-text">While our values are timeless, 
        we readily embrace new technologies and new ways to solve the residential and commercial construction industry's greatest challenges.
        We are Amerikan Builders and our mission is to raise the bar on what a true builder can be.</p>
    </div> 
</div>
