<div id="services">
    <div class="container">
        <div class="row">   
            <h2 class="white-text">New Roof and Re-roof</h2>
            <p class="white-text">We offer and support a wide range of all types of roofing from commercial to residential.
                We faithfully dedicate workmanship, creativity, and expertise in which makes higher essence 
                of service that particularly separates us from other building companies.</p>
            <p class="white-text">All work is confirmed by an all inclusive warranty. 
                We are also licensed and have a remembrance of favorably completing projects with high quality and on budget.
            </p>

            <div class="col s12 l6 aaaa">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="./../../assets/images/tile-roof.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Tile Roof<i class="material-icons right">more_vert</i></span>
                        <a (click)="gallery.open(i)" class="waves-effect waves-light btn"><i class="material-icons left">image</i>Gallery</a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Tile Roof<i class="material-icons right">close</i></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, quia pariatur. Quidem harum adipisci, corporis labore cum, tempore aperiam natus necessitatibus perspiciatis repudiandae, repellat id temporibus et reprehenderit est possimus?</p>
                    </div>
                </div>
            </div>
            <div class="col s12 l6 aaaa">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="./../../assets/images/metalRoof.JPG">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Metal Roof<i class="material-icons right">more_vert</i></span>
                        <a (click)="gallery.open(i)" class="waves-effect waves-light btn"><i class="material-icons left">image</i>Gallery</a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Metal Roof<i class="material-icons right">close</i></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro reiciendis deleniti voluptatem officiis distinctio obcaecati cupiditate, dolorem neque quia rerum dicta ipsa aperiam? Natus magnam sunt pariatur officia accusamus odio.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col s12 l6 aaaa">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="./../../assets/images/flatRoof.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Flat Roof<i class="material-icons right">more_vert</i></span>
                        <a (click)="gallery.open(i)" class="waves-effect waves-light btn"><i class="material-icons left">image</i>Gallery</a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Flat Roof<i class="material-icons right">close</i></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque sequi sed obcaecati rerum sint incidunt? Tenetur, beatae, perferendis ratione cumque mollitia consectetur alias illum itaque accusantium in consequuntur unde. Velit?</p>
                        
                    </div>
                </div>
            </div>
            <div class="col s12 l6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="./../../assets/images/tile-roof.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Shingle Roof<i class="material-icons right">more_vert</i></span>
                        <a (click)="gallery.open(i)" class="waves-effect waves-light btn"><i class="material-icons left">image</i>Gallery</a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Shingle Roof<i class="material-icons right">close</i></span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, necessitatibus? Minima, illo maxime dolorem velit dolor eaque nihil quo sequi qui, pariatur voluptas doloremque ut odit! Eius ab perspiciatis ullam.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="white-text">Remodeling</h2>
            <p class="white-text">There is no need to waste neither time nor money for another house to increase living space.
                At Amerikan Builders we can expand the horizons of your house to make it a more peaceful and spacious haven from those long and chaotic days.
                Amerikan Builders offers a variety of services to help achieve the client's goals.
                Our provided skillful guidance could also increase the value of the property through upgrades and improvement to make any dream possible.
            </p>
            <i class="material-icons">check</i>
            <i class="material-icons">check</i>
            <i class="material-icons">check</i>
        </div>
    </div>
</div>