<div id="services" class="red lighten-1">
    <h2 class="white-text">Services</h2>
    <div class="container">
        <div class="row">
            <h2 class="white-text">Commercial and Residential</h2>
        </div>
        <div class="row">
            <h2 class="white-text">New Roof and Re-roof</h2>
            <div class="col s12 l3">
                <img src="./../../assets/images/tile-roof.jpg" alt="" class="responsive-img center">
                <h3 class="white-text">Tile Roof</h3>
                <p class="white-text flow-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate explicabo voluptas qui quisquam!.</p>
                 <!-- Modal Trigger -->
                 <button data-target="tileRoofModal" class="btn modal-trigger">Gallery</button>
          
                 <!-- Modal Structure -->
                 <div id="tileRoofModal" class="modal modal-fixed-footer">
                     <div class="modal-content">
                        <div class="carousel">
                            <a class="carousel-item" href="#one!"><img src="./../../assets/images/flatRoof.jpg"></a>
                            <a class="carousel-item" href="#two!"><img src="./../../assets/images/flatRoof.jpg"></a>
                            <a class="carousel-item" href="#three!"><img src="./../../assets/images/flatRoof.jpg"></a>
                            <a class="carousel-item" href="#four!"><img src="./../../assets/images/flatRoof.jpg"></a>
                            <a class="carousel-item" href="#five!"><img src="./../../assets/images/flatRoof.jpg"></a>
                        </div>
                     </div>
                     <div class="modal-footer">
                        <p class="aas">Tile Roof</p>
                        <a href="#tile-roof" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                     </div>
                 </div>
            </div>
            <div class="col s12 l3">
                <img src="./../../assets/images/flatRoof.jpg" alt="" class="responsive-img center">
                <h3 class="white-text">Shingle Roof</h3>
                <p class="white-text flow-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate explicabo voluptas qui quisquam!.</p>
                 <!-- Modal Trigger -->
                 <button data-target="shingleRoofModal" class="btn modal-trigger">Gallery</button>
          
                 <!-- Modal Structure -->
                 <div id="shingleRoofModal" class="modal modal-fixed-footer">
                     <div class="modal-content">
                        <div class="carousel">
                            <a class="carousel-item" href="#one!"><img src="./../../assets/images/flatRoof.jpg"></a>
                            <a class="carousel-item" href="#two!"><img src="./../../assets/images/flatRoof.jpg"></a>
                            <a class="carousel-item" href="#three!"><img src="./../../assets/images/flatRoof.jpg"></a>
                            <a class="carousel-item" href="#four!"><img src="./../../assets/images/flatRoof.jpg"></a>
                            <a class="carousel-item" href="#five!"><img src="./../../assets/images/flatRoof.jpg"></a>
                        </div>
                     </div>
                     <div class="modal-footer">
                        <p class="aas">Shingle Roof</p>
                        <a href="#shingle-roof" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                     </div>
                 </div>
            </div>
            <div class="col s12 l3">
                <img src="./../../assets/images/metalRoof2.JPG" alt="" class="responsive-img center">
                <h3 class="white-text">Metal Roof</h3>
                <p class="white-text flow-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate explicabo voluptas qui quisquam!.</p>
                 <!-- Modal Trigger -->
                 <button data-target="metalRoofModal" class="btn modal-trigger">Gallery</button>
          
                 <!-- Modal Structure -->
                 <div id="metalRoofModal" class="modal modal-fixed-footer">
                     <div class="modal-content">
                         <div class="asdf">
                            <gallery></gallery>
                         </div>
                     </div>
                     <div class="modal-footer">
                        <p class="aas">Metal Roof</p>
                        <a href="#metal-roof" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                     </div>
                 </div>
            </div>
            <div class="col s12 l3">
                <img src="./../../assets/images/flatRoof.jpg" alt="" class="responsive-img center">
                <h3 class="white-text">Flat Roof</h3>
                <p class="white-text flow-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate explicabo voluptas qui quisquam!.</p>
                <!-- Modal Trigger -->
                <button data-target="flatRoofModal" class="btn modal-trigger">Gallery</button>
          
                <!-- Modal Structure -->
                <div id="flatRoofModal" class="modal modal-fixed-footer">
                    <div class="modal-content">    
                       <gallery></gallery>       
                    </div>        
                    <div class="modal-footer">
                        <p class="aas">FLAT ROOF</p>
                        <a href="#flat-roof" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>