p {
    margin: 0;
    padding-bottom: 1em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.modal {
    min-width: 100%;    
    min-height: 100%;
}

gallery {
    width: 120em;
    background: red;
}