<div id="services" class="red lighten-1">
    <h2 class="white-text">Services</h2>
    <div class="container">
        <div class="row">
            <h2 class="white-text">Commercial and Residential</h2>
        </div>
        <div class="row">
            <h2 class="white-text">New Roof and Re-roof</h2>
            <div class="col s12 l3">
                <img src="./../../assets/images/tile-roof.jpg" alt="" class="responsive-img center">
                <h3 class="white-text">Tile Roof</h3>
                <p class="white-text flow-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate explicabo voluptas qui quisquam!.</p>
                <a (click)="gallery.open(i)" class="btn btn-floating pulse"><i class="material-icons">image</i></a>
            </div>
            <div class="col s12 l3">
                <img src="./../../assets/images/flatRoof.jpg" alt="" class="responsive-img center">
                <h3 class="white-text">Shingle Roof</h3>
                <p class="white-text flow-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate explicabo voluptas qui quisquam!.</p>
                <a (click)="gallery.open(i)" class="btn btn-floating pulse"><i class="material-icons">image</i></a>
            </div>
            <div class="col s12 l3">
                <img src="./../../assets/images/metalRoof2.JPG" alt="" class="responsive-img center">
                <h3 class="white-text">Metal Roof</h3>
                <p class="white-text flow-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate explicabo voluptas qui quisquam!.</p>
                <a (click)="gallery.open(i)" class="btn btn-floating pulse"><i class="material-icons">image</i></a>
            </div>
            <div class="col s12 l3">
                <img src="./../../assets/images/flatRoof.jpg" alt="" class="responsive-img center">
                <h3 class="white-text">Flat Roof</h3>
                <p class="white-text flow-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate explicabo voluptas qui quisquam!.</p>
                <a (click)="gallery.open(i)" class="btn btn-floating pulse"><i class="material-icons">image</i></a>
            </div>
        </div>
    </div>
</div>