/* You can add global styles to this file, and also import other style files */
.g-overlay {
    min-width: 300px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 40px;
}

p {
    font-size: 22px;
    color: #9D9D9D;
}


.slider .indicators .indicator-item.active{
    background-color: #e53935;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.shadow-background {
    filter: brightness(0.7);;
}

.absolute-center {
    display: flex;
    justify-content: center;
    align-items: center;
}